
.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.divider{
    width:100%;
    margin:10px;
    background-color:gray;
}
.title{
    text-transform:uppercase;
    font-size:5vw;
    font-weight:5px;
    cursor:pointer;
    font-family: "Montserrat", sans-serif;
}